
@media (width <=800px ){
    html {
      font-size: 14px;
    }
    .introduction{
      display: flex;
      flex-direction: column;
      font-size: medium;
      text-align: left;
    }
    .intro{
      display: flex;
      flex-direction: column;
      font-size: medium;
      text-align: left;
    }
  }
@media screen and (max-width: 800px) { 
  .report {
    display: grid;
  }
}
@media screen and (max-width: 800px) {
  .photo{
    display: flex;
    flex-direction: column;
  }
}
  @media (max-width: 800px) {
    .note {
        flex-direction: column;
        padding: 10px;
        margin: 0 auto;
    }
   
    .button {
        margin-right: 0;
        margin-bottom: 10px;
        margin: 0 auto;
    }

    .social-media {
        margin-right: 0;
        margin-bottom: 10px;
        margin: 0 auto;
    }
    .contact{
        margin-right: 0;
        margin-bottom: 10px;
        margin: 0 auto;
    }
}
