
body{ /* This css is for the body */
   margin: 0;
   background-color: white;
   width: 100%;
   height: 100vh;

} 
.nav-board{ /* This css is for navigation bar*/
    display: flex;
    background: #8b597b;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}
/*Nav bar animation*/
.nav-card-item{ 
    list-style-type: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
.nav-card-item ::after{
    content: '';
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
.nav-card-item{
    color: white;
}
.nav-card-item :hover::after{
    top: 50%;
    opacity: 1;
}

.nav-card-item{
    display: inline;
}

.nav-card-item> a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    padding: 10px;
}
.headding{
    font-family: 'Great Vibes', cursive;
}
.introduction{ /*Introduction part of the body */
    text-align: left;
    padding-top: 10px;
    display: flex;
}
.intro{
    padding-top: 10px;
    display: flex;
}

.p{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
}
.a{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
}
.image{
   border: 7px solid teal;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
   margin: 0;
}
.note{
    display:flex
}
.footer{ /*For footer of the page*/
    display: flex;
}
.button{ /*Subscribe for update button*/
     width: 400px;
     text-align: center;
}
.social-media{ /*Social media icon*/
    width: 400px;
    text-align: center;
}
.contact{ /*Contact Us for footer*/
   width: 400px;
   text-align: center;
}
.hello{ /*Home page hello*/
    font-size: 1.5cm;
   color: transparent;
   cursor: pointer;
   -webkit-text-stroke: 4px black;
   transition: all .4s;
   padding-left: 100px;
}
.hello:hover{
    text-shadow: none;
    color:black
}
.work{ /*For work experience */
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.word{
    padding-left: 20px;
}
.commerce{
    padding-left: 20px;
    padding-right: 20px;
}
.education{
    padding-left: 20px;
    padding-right: 20px;
}
.charity{
    padding-left: 20px;
    padding-right: 20px;
}
.gallery{ /*For portfolio page*/
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px ;
}
.photo{
    flex: 50%;
    padding: 0 4px;
}
.photo img{
    margin-top: 8px;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 0px;
}
/*Animation for the contact page*/
.paragraph{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px; 
}
.text{
    font-size: 1.1em;
    letter-spacing: 0px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(170), cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50%{ border-color: transparent;}
}
@keyframes typing{
    from{ width: 0;}
}
.input{
    background-color: #fbc3b9;
    margin-left: 400px;
    margin-right: 400px;
}
.report{
    display: grid;
    grid-template-rows: repeat(5);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    padding-top: 1cm;
    padding-bottom: 1cm;
}
.site{
    padding-left: 20px;
    padding-right: 20px;
}
