body{
   margin: 0;
}
.nav-board{
    display: flex;
    background-color: #ff0368;
}
.nav-card{
    list-style-type: none;
    margin: 0;
    padding-left: 500px;
}

.nav-card-item{
    display: inline;
}

.nav-card-item> a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
    padding: 10px;
}
.active{
    border-bottom: 2px solid;
}
.home{
    display: flex;
    background-color:beige;
}
.introduction{
    width: 1000px;
    text-align: left;
}
.note{
    display:flex
}
.footer{
    width: 400px;
    text-align: center;
}
.button{
     width: 400px;
     text-align: center;
}
.social-media{
    width: 400px;
    text-align: center;
}
.contact{
   width: 400px;
   text-align: center;
}